@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700|Montserrat:400,700&display=swap');

body {
    margin: 0;
}

.main-container {
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
}

.card-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


h1, h2, h3, h4 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;

}


p {
    font-family: 'Montserrat', sans-serif;
}




.pagination-item {
    
    cursor: pointer;

    &:nth-child(n) {
        margin-top: 50px;
        border: 1px solid #0573BE;
        border-left-style: none;
     }
    &:first-child {
        border: 1px solid #0573BE;
        border-radius: 5px 0 0 5px;
     }

     &:last-child {
        border: 1px solid #0573BE;
        border-radius: 0 5px 5px 0;
        border-left-style: none;
     }
  

    &:hover {
        background-color: #ddd;
    } 
    border: 1px solid #0573BE;
    padding: 5px;
    background-color: #eee;
}

.active {
    font-weight: bold;
    background-color: #aaa;
}




@media screen and (max-width: 1050px) {
    .button-container  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0;
    }
}